extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim quam et ultrices finibus. Praesent mollis ligula ut tincidunt pellentesque. Aliquam lobortis felis sit amet orci sollicitudin, a rhoncus orci egestas. Duis nec massa tellus. Aliquam venenatis est et sodales facilisis. Fusce lacinia et felis eu dapibus. Etiam euismod mauris dolor, sit amet ullamcorper odio convallis nec. 

                p Nullam in gravida lorem. Nunc at efficitur erat. Morbi at sem arcu. Nulla facilisi. Vestibulum a viverra eros, a finibus justo. Aliquam erat volutpat. 

                p Nunc molestie rutrum imperdiet. Sed finibus, neque porttitor tristique posuere, dui diam maximus enim, eget lacinia diam arcu in ligula. Nulla faucibus malesuada lobortis. Cras tristique dui ligula, feugiat facilisis lacus pharetra nec. Nam vehicula, orci eget tincidunt hendrerit, erat ipsum lacinia urna, vestibulum rutrum purus leo at velit. Donec luctus ultrices arcu, a fringilla est imperdiet sed. Quisque eu porta sem. Praesent egestas, mi id porta semper, mi eros fermentum nunc, vel malesuada magna libero posuere odio. Ut at blandit urna, vel maximus magna. Integer vel ullamcorper tellus. Phasellus dapibus sem dolor, non maximus mi porta a. Curabitur nec elit quis sapien vulputate laoreet.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nunc molestie rutrum imperdiet. Morbi at sem arcu. Nulla facilisi. Vestibulum a viverra eros, a finibus justo. Aliquam erat volutpat. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Nunc molestie rutrum imperdiet. Morbi at sem arcu. Nulla facilisi. Vestibulum a viverra eros, a finibus justo. Aliquam erat volutpat. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Precios 
                    p Nunc molestie rutrum imperdiet. Morbi at sem arcu. Nulla facilisi. Vestibulum a viverra eros, a finibus justo. Aliquam erat volutpat. 
                